---
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bulma",
  "switch"
;

@media (max-width: 768px) {
  .hero-body,
  section.section,
  footer.footer {
    padding: 1.5rem 0.75rem;
  }
}

footer.footer {
  padding: 1.5rem;
  margin-top: auto;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar-brand i,
.navbar-start i {
  margin-right: .25rem;
}

.navbar-item {
  border-bottom: 2px solid $dark;

  &.active {
    border-bottom-color: $warning;
  }
}

.homepage {
  .basic-info {
    padding-right: 1rem !important;

    @media (max-width: 768px) {
      padding-right: 0 !important;
      margin-bottom: 2rem;
    }
  }

  .leagues .card {
    transition: .2s ease all;

    img {
      width: 100%;
    }

    &:hover {
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    }

  }
}

.box,
.card {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  border-radius: 4px;

  &:hover {
    box-shadow: none !important;
  }
}

a .card:hover {
  background-color: #fafafa;
}

.league-table {
  .sticky-box {
    position: sticky;
    top: calc(1rem - 41px);
  }

  .dropdown.is-fullwidth {
    margin-top: 41px;
    margin-bottom: 1rem;
    width: 100%;

    .dropdown-trigger,
    .button {
      width: 100%;
      justify-content: left;

      .icon {
        margin-left: auto;
      }
    }

    .dropdown-menu {
      width: 100%;

      a.dropdown-item {
        text-align: center;
        width: 33.3335%;
        display: inline-block;
        padding: 8px 0;

        &.compare-seasons {
          width: 100%;
          display: block;
          background-color: #efefef;
          font-weight: bold;
        }
      }
    }
  }

  .league-info {
    width: 100%;

    img {
      height: 80px;
      margin: 0 20px;
    }
  }

  .legend .qualifications {
    padding-top: 1rem;

    .legend-entry.hidden {
      display: none;
    }

    .square {
      height: 1rem;
      width: 1rem;
      border-radius: 3px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5rem;
      margin-bottom: 2px;
    }

    .cl .square {
      background-color: #4daf4a;
    }

    .el .square {
      background-color: #377eb8;
    }

    .el-playoffs .square {
      background-color: #91b8d8;
    }

    .ecl .square {
      background-color: #9d1a8e;
    }

    .ecl-playoffs .square {
      background-color: #d178c7;
    }

    .relegation-playoffs .square {
      background-color: #ff7f00;
    }

    .relegation .square {
      background-color: #e41a1c;
    }
  }

  th.header-points {
    width: 10px;
  }

  .points {
    color: transparent;
    text-align: left;
    font-family: "Ubuntu Mono", monospace;
    font-weight: bold;
    font-size: 1.2rem;
    vertical-align: middle;
  }

  .league.table tr td {
    padding: 0.2em 0.75em;;
  }

  .team-box {
    display: inline-block;
    margin: 2px 0.5rem 0 0;
    border-radius: 3px;
    overflow: hidden;
    vertical-align: middle;

    .position {
      display: inline-block;
      background-color: $grey-lighter;
      padding: 0 0.25rem;
      font-family: "Ubuntu Mono", monospace;
      line-height: 26px;
    }

    .name {
      background-color: $white;
      border-top: 1px solid $white-ter;
      border-bottom: 1px solid $white-ter;
      display: inline-block;
      padding: 0 0.5rem;
      font-weight: bold;
      max-width: 45vw;
      white-space: nowrap;
    }

    .played {
      display: inline-block;
      padding: 0 0.25rem;
      font-family: "Ubuntu Mono", monospace;
      background-color: $white-ter;
      line-height: 26px;
    }

    .goal-difference {
      display: inline-block;
      padding: 0 0.25rem;
      font-family: "Ubuntu Mono", monospace;
      line-height: 26px;

      &.positive {
        background-color: #e4efe3;
      }

      &.negative {
        background-color: #efe4e3;
      }

      &.equal {
        background-color: $white-bis;
      }
    }
  }
}

.season-table, .league-comparison {
  .sticky-box {
    position: sticky;
    top: calc(1rem - 41px);
  }

  .table {
    thead {
      td, th {
        text-align: center;
        height: 45px;
      }

      img {
        max-width: 30px;
      }

      th {
        padding-top: 0;
        border: none;
      }
    }

    td, th {
      border: none;
    }

    td.teams {
      height: 15px;
      text-align: center;
      padding: 0;
    }

    tbody {
      transition: border-color 0.5s;

      tr {
        border-bottom: 1px solid #fff;
        transition: border-color 0.5s;
      }
    }
  }

  .dropdown.is-fullwidth {
    margin-top: 41px;
    margin-bottom: 1rem;
    width: 100%;

    .dropdown-trigger,
    .button {
      width: 100%;
      justify-content: left;

      .icon {
        margin-left: auto;
      }
    }

    .dropdown-menu {
      width: 100%;

      a.dropdown-item {
        text-align: center;
        width: 33.3335%;
        display: inline-block;
        padding: 8px 0;
      }
    }
  }

  .column.information {
    padding-right: 1rem !important;

    .legend {
      .team-circle {
        height: 10px;
        width: 10px;
        border-radius: 50px;
        background-color: #666;
        display: inline-block;
        margin-right: 10px;
      }

      .hidden {
        display: none;
      }
    }

    hr {
      width: 90%;
    }

    .toggle-grid {
      margin-bottom: 2rem;

      label {
        font-size: 1rem;
        padding-top: 0;
      }
    }

    .last-update-wrap {
      font-size: 0.75rem;
      line-height: 0.75rem;
    }
  }

  .column.points {
    padding: 0;
    border: none;
    max-width: 25px;

    tbody {
      border: none;
    }

    .points-wrap {
      height: 15px;

      .listed-points {
        height: 15px;
        font-size: 0.9rem;
        line-height: 15px;
        vertical-align: top;
        font-family: "Ubuntu Mono", monospace;
      }
    }
  }

  .column.league {
    padding: 0;

    tbody {
      border-left: 1px solid #efefef;
      transition: border-color 0.5s;

      tr {
        border-left: 1px solid #efefef;
        border-bottom: 1px solid transparent;
        transition: border-color 0.5s;
      }
    }

    &:nth-of-type(1) .table tbody tr {
      border-left: none;
      border-right: none;
    }

    &:nth-of-type(2) .table tbody tr {
      border-left: none;
    }

    .circle-wrap {
      height: 15px;

      .team-circle {
        height: 10px;
        width: 10px;
        border-radius: 50px;
        background-color: #666;
        display: inline-block;
        margin: 0 2px 5px 2px;
        cursor: pointer;
      }

      /* for mobile */
      @media (max-width: 768px) {
        .team-circle {
          margin-bottom: 5px;
          height: 8px;
          width: 8px; }
      }

      /* for small mobile */
      @media (max-width: 375px) {
        .team-circle {
          margin: 0 1px 7px 1px;
          height: 7px;
          width: 7px; }
      }
    }
  }
  .columns.is-grid .table tbody tr,
  .columns.is-grid .table tbody {
    border-color: #999;
  }

  .columns.tables:not(.is-active) {
    display: none;
  }
}

.league-comparison {
  th.header-teams a {
    font-family: "Ubuntu Mono", monospace;
    font-size: 0.9rem;
  }

  .column.league:not(.is-active) {
    display: none;
  }

  .tabs li.fullscreen-tables {
    margin-left: auto;
  }

  .sidebar.column {
    img {
      display: inline-block;
      max-height: 75px;
      width: 35%;
      margin: 0 5%;
    }

    .legend .team-circle {
      height: 10px;
      width: 10px;
      border-radius: 50px;
      background-color: #666;
      display: inline-block;
      margin-right: 10px;
    }

    .hidden {
      display: none;
    }

    .toggle-grid label {
      font-size: 1rem;
      padding-top: 0;
    }
  }

  .columns.tables {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &.fullscreen {
    padding: 2rem 0;

    .container {
      max-width: unset;
      width: calc(100% - 30px);
    }

    .column.sidebar {
      display: none;
    }

    .column.is-9-desktop {
      width: 100%;
    }

    .open-fullscreen {
      display: none;
    }
  }

  &:not(.fullscreen) .close-fullscreen {
    display: none;
  }
}

.leagues-page {
  .card {
    height: 100%;
    transition: .2s ease all;

    &:hover {
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    }

    img.logo {
      padding: 1.5rem;
      width: 100%;
    }

    img.flag {
      height: 48px;
      width: 48px;
    }
  }

  .season-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0a0a0a1a;
    padding: 2px 6px;
    border-bottom-left-radius: 2px;
    font-size: .8em;
  }
}