---
layout: base
title: Home
---
<article class="homepage">
	<section class="hero is-light">
	  <div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        Cann Tables
	      </h1>
	      <h2 class="subtitle">
	      	An alternative way to display the traditional league table
	      </h2>
	    </div>
	  </div>
	</section>

	<section class="section season-table">
		<div class="container">
			<div class="columns">
				<div class="column is-12-mobile is-4-tablet">
						<h3 class="title is-4">What are Cann tables?</h3>
				</div>
				<div class="column has-text-centered is-hidden-mobile">
					<h3 class="title is-4">Live tables <span class="is-size-7">(last updated: <span class="last-update"></span>)</span></h3>
				</div>
			</div>
			<div class="columns is-active is-gapless is-mobile is-multiline">
				<div class="column information is-12-mobile is-4-tablet">
					<div class="basic-info content">
						<p>
							They're an alternative way to display the traditional league table. Rather than listing all teams in succession based on their ranking, Cann tables take into consideration the point gaps between teams.
						</p>
						<p>
							Every row represents a certain number of points, so point gaps between teams are reflected by gaps in the table.
						</p>
						<p>
							Click on a flag to explore the league in detail.
						</p>
						<p>
							<a href="https://en.wikipedia.org/wiki/Cann_table">According to Wikipedia</a>, Cann tables are named after Jenny Cann, who published the style on her website in 1998.
						</p>
					</div>
					<div class="legend is-hidden-mobile">
		        <span class="team-circle" style="background-color: #4daf4a"></span>Champions League + qualifiers<br>
		        <span class="team-circle" style="background-color: #377eb8"></span>Europa League + qualifiers<br>
		        <span class="team-circle" style="background-color: #9d1a8e"></span>Conference League + qualifiers<br>
		        <span class="team-circle" style="background-color: #d178c7"></span>Conference League playoffs (local)<br>
		        <span class="team-circle" style="background-color: #ff7f00"></span>Relegation playoffs<br>
		        <span class="team-circle" style="background-color: #e41a1c"></span>Relegation
		      </div>
		      <hr>
		      <div class="toggle-grid">
		        <input id="toggleGrid" type="checkbox" name="toggleGrid" class="switch is-small is-info is-rounded" onclick="showGrid()">
		        <label for="toggleGrid">Toggle grid</label>
		      </div>
				</div>
				<div class="column league-tables">
				  <div class="tabs is-centered">
				    <ul>
				      <li class="is-active"><a data-tab="per-game">Points per game</a></li>
				      <li><a data-tab="total">Total points</a></li>
				    </ul>
				  </div>
				  <div class="columns tables is-mobile is-active per-game">

				  </div>
				  <div class="columns tables is-mobile total">

				  </div>
				</div>
			</div>
		</div>
	</section>

	<section class="section leagues">
		<div class="container">
			<h3 class="title is-4">Leagues</h3>
			<div class="columns is-multiline is-mobile">
				{% for league in site.leagues %}
					{% if league.layout == "league-comparison" %}
						<div class="column is-half-mobile is-one-quarter-tablet is-2-desktop">
				    	<a href="{{ league.url }}">
								<div class="card">
									<div class="card-content">
							      <img src="/img/logos/{{ league.code }}.svg" alt="{{ league.competition }} logo">
									</div>
								</div>
				    	</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
</article>

<!-- <script src="https://data.canntables.com/de.js"></script> -->
<!-- <script src="https://data.canntables.com/en.js"></script> -->
<!-- <script src="https://data.canntables.com/es.js"></script> -->
<!-- <script src="https://data.canntables.com/fr.js"></script> -->
<!-- <script src="https://data.canntables.com/it.js"></script> -->
<!-- <script src="https://data.canntables.com/nl.js"></script> -->
<!-- <script src="https://data.canntables.com/pt.js"></script> -->

<script src="js/2021-22/de.js"></script>
<!-- <script src="js/2021-22/en.js"></script> -->
<!-- <script src="js/2021-22/es.js"></script> -->
<!-- <script src="js/2021-22/fr.js"></script> -->
<!-- <script src="js/2021-22/it.js"></script> -->
<script src="js/2021-22/nl.js"></script>
<script src="js/2021-22/pt.js"></script>
<script>
	var leagues = [de, nl, pt];
	var season = "2021-22";

	// last updated global
	var lastUpdated = new Date(2022, 4, 17);
</script>
<script src="js/seasonTable.js"></script>

<!-- Progressive web app service worker -->
<script>
  // Check compatibility for the browser we're running this in
  if ("serviceWorker" in navigator) {
    if (navigator.serviceWorker.controller) {
      console.log("[PWA Builder] active service worker found, no need to register");
    } else {
      // Register the service worker
      navigator.serviceWorker
        .register("serviceWorker.js", {
          scope: "/"
        })
        .then(function (reg) {
          console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
        });
    }
  }
</script>