<footer class="footer">
  <div class="container">
    <small>
  	  Data provided by the <a href="https://www.football-data.org">football-data.org API</a>, <a href="https://en.wikipedia.org/">Wikipedia</a>, and <a href="https://fbref.com/en/">FBref</a>. Made with <a href="https://bulma.io">Bulma</a>, flags from <a href="https://www.flaticon.com/packs/rectangular-country-simple-flags">Flaticon</a>. MIT License, source code <a href="https://gitlab.com/guushoekman/cann-tables">on GitLab</a>.
      <br>
  	  <i class="far fa-fw fa-duck"></i> Made by <a href="https://guushoekman.com">Guus Hoekman</a>
    </small>
  </div>
</footer>