<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item {% if page.title == 'Home' %}active{% endif %}" href="/">
        <span class="icon">
          <i class="fas fa-fw fa-volleyball-ball"></i>
        </span>
        <strong>Cann Tables</strong>
      </a>
      <div class="navbar-burger burger" data-target="navbar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item {% if page.menu == 'leagues' or page.layout == 'league' or page.layout == 'league-comparison' %}active{% endif %}" href="/leagues">
          <span class="icon">
            <i class="fal fa-fw fa-flag" aria-hidden="true"></i>
          </span>
          <span>Leagues</span>
        </a>
        <a class="navbar-item {% if page.menu == 'seasons' or page.layout == 'season' %}active{% endif %}" href="/seasons">
          <span class="icon">
            <i class="fal fa-fw fa-calendar" aria-hidden="true"></i>
          </span>
          <span>Seasons</span>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-small is-warning" href="/contribute.html">
            <span class="icon">
              <i class="fal fa-plus-circle"></i>
            </span>
            <span>Add a league / season</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>