---
layout: base
title: Leagues
menu: leagues
---
<section class="section leagues-page">
	<div class="container">
		<div class="columns is-multiline">
			{% for league in site.leagues %}
				{% if league.layout == "league-comparison" %}
					<div class="column is-one-quarter">
			    	<a href="{{ league.url }}">
			    		<div class="card">
					      <img src="/img/logos/{{ league.code }}.svg" alt="{{ league.competition }} logo" class="logo">
			    		  <div class="card-content">
			    		    <div class="media">
			    		      <div class="media-left">
						          <img src="/img/flags/{{ league.code }}.svg" alt="{{ league.country }} flag" class="flag">
			    		      </div>
			    		      <div class="media-content">
			    		      	<p class="title is-5">{{ league.competition }}</p>
			    		      	<p class="subtitle is-6">{{ league.country }}</p>
			    		      </div>
			    		    </div>
			    		  </div>
			          <span class="season-count">{{ league.seasons.size }} season{% unless league.seasons.size == 1 %}s{% endunless %}</span>
			    		</div>
			    	</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>