<!doctype html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="flex-wrapper">
      {% include header.html %}

      <script src="/js/jquery-3.6.0.slim.min.js"></script>
      <script src="/js/colours.js"></script>

      {{ content }}

      {% include footer.html %}
    </div>

    <script>
      // navbar
      document.addEventListener("DOMContentLoaded", function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener("click", function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle("is-active");
              $target.classList.toggle("is-active");

            });
          });
        }

      });

      // season dropdowns
      $(".season.dropdown").click(function(event) {
        event.stopPropagation();
        var thisButton = $(this);
        thisButton.addClass("is-active");
      });

      document.addEventListener("click", function(event) {
        $(".dropdown").removeClass("is-active")
      });
    </script>
  </body>
</html>