---
layout: base
menu: leagues
---
<section class="section league-table">
  <div class="container">
    <div class="columns is-centered is-desktop">
      <div class="column is-4-desktop">
        <div class="sticky-box">
          <div class="season dropdown is-fullwidth">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="seasons">
                <span><strong>{{ page.season }} season</strong></span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="seasons" role="menu">
              <div class="dropdown-content">
                {% for league in site.leagues -%}{% if league.code == page.code -%}{% if league.layout == "league" -%}<a href="{{ league.url }}" class="dropdown-item{% if league.season == page.season %} is-active{% endif %}">{{ league.season }}</a>{% else if league.layout == "league-comparison" -%}<a href="{{ league.url }}" class="dropdown-item compare-seasons">Compare all seasons</a>{% endif %}{% endif %}{% endfor %}
              </div>
            </div>
          </div>
          <div class="box league-info">
            <div class="has-text-centered">
              <img src="/img/flags/{{ page.code }}.svg" alt="{{ page.country }} flag">
              <img src="/img/logos/{{ page.code }}.svg" alt="{{ page.competition }} logo">
            </div>
            <table class="table is-fullwidth">
              <tbody>
                <tr>
                  <th>Country</th>
                  <td>{{ page.country }}</td>
                </tr>
                <tr>
                  <th>League</th>
                  <td>{{ page.competition }}</td>
                </tr>
                <tr>
                  <th>Season</th>
                  <td>{{ page.season }}</td>
                </tr>
              </tbody>
            </table>
            <div class="buttons are-small is-centered">
              <a class="button source" target="_blank" href=""><span class="icon"><i class="fal fa-database"></i></span><span>Source</span></a>
              <a class="button" target="_blank" href="{% if page.latest and page.api != false %}https://data.canntables.com/{{ page.code }}.js{% else %}/js/{{ page.season | replace: '/', '-' }}/{{ page.code }}.js{% endif %}"><span class="icon"><i class="fal fa-table"></i></span><span>Data</span></a>
              <a class="button" href="mailto:mail@guushoekman.com"><span class="icon"><i class="fal fa-exclamation-circle"></i></span><span>Correct a mistake</span></a>
            </div>
            <hr>
            <div class="legend">
              <div class="team-box">
                <span class="position">Pos</span><span class="name">Team name</span><span class="played">Played</span><span class="goal-difference equal">Goal dif</span>
              </div>
              <div class="qualifications">
                <div class="legend-entry cl"><span class="square"></span>Champions League</div>
                <div class="legend-entry el hidden"><span class="square"></span>Europa League</div>
                <div class="legend-entry ecl hidden"><span class="square"></span>Conference League</div>
                <div class="legend-entry ecl-playoffs hidden"><span class="square"></span>Conference League playoffs</div>
                <div class="legend-entry relegation-playoffs hidden"><span class="square"></span>Relegation playoffs</div>
                <div class="legend-entry relegation"><span class="square"></span>Relegation</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-8-desktop">
        <table class="table league is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th class="header-points">Pts</th>
              <th class="header-teams">Teams</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% if page.latest and page.api != false %}
  <script src="https://data.canntables.com/{{ page.code }}.js"></script>
{% else %}
  <script src="/js/{{ page.season | replace: '/', '-' }}/{{ page.code }}.js"></script>
{% endif %}

<script>
  var league = {{ page.code }};
</script>
<script src="/js/leagueTable.js"></script>
