---
layout: base
---
<section class="section league-comparison">
  <div class="container">
    <div class="columns">
      <div class="column is-3-desktop sidebar">
        <div class="sticky-box">
          <div class="season dropdown is-fullwidth">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="seasons">
                <span><strong>Filter seasons</strong></span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="seasons" role="menu">
              <div class="dropdown-content">
                {% for season in page.seasons %}<a data-season="{{ season.season | replace: '/', '-' }}" class="dropdown-item{% if season.active == true %} is-active{% endif %}">{{ season.season }}</a>{% endfor %}
              </div>
            </div>
          </div>
          <div class="box league-info">
            <div class="has-text-centered">
              <img src="/img/flags/{{ page.code }}.svg" alt="{{ page.country }} flag">
              <img src="/img/logos/{{ page.code }}.svg" alt="{{ page.competition }} logo">
            </div>
            <div class="legend">
              <div class="cl"><span class="team-circle" style="background-color: #4daf4a"></span>Champions League + qualifiers</div>
              <div class="el hidden"><span class="team-circle" style="background-color: #377eb8"></span>Europa League + qualifiers</div>
              <div class="el-playoffs hidden"><span class="team-circle" style="background-color: #91b8d8"></span>Europa League playoffs (local)</div>
              <div class="ecl"><span class="team-circle" style="background-color: #9d1a8e"></span>Conference League + qualifiers</div>
              <div class="ecl-playoffs hidden"><span class="team-circle" style="background-color: #d178c7"></span>Conference League playoffs (local)</div>
              <div class="relegation-playoffs hidden"><span class="team-circle" style="background-color: #ff7f00"></span>Relegation playoffs</div>
              <div class="relegation"><span class="team-circle" style="background-color: #e41a1c"></span>Relegation</div>
            </div>
          </div>
          <div class="toggle-grid">
            <input id="toggleGrid" type="checkbox" name="toggleGrid" class="switch is-small is-info is-rounded" onclick="showGrid()">
            <label for="toggleGrid">Toggle grid</label>
          </div>
        </div>
      </div>
      <div class="column is-9-desktop">
        <div class="tabs is-centered">
          <ul>
            <li class="is-active"><a data-tab="per-game">Points per game</a></li>
            <li><a data-tab="total">Total points</a></li>
            <li class="fullscreen-tables is-hidden-mobile">
              <a data-tab="fullscreen">
                <span class="icon is-small"><i class="fas fa-compress-wide" aria-hidden="true"></i></span>
                <span class="open-fullscreen">Fullscreen tables</span>
                <span class="close-fullscreen">Close fullscreen</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="columns tables is-active is-mobile per-game">

        </div>
        <div class="columns tables is-mobile total">

        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/colours.js"></script>
<script src="/js/leagueComparison.js"></script>

<!-- get most and fewest points for all leagues -->
<script>
  var mostPointsAllSeasons = {{ page.mostPoints }};
  var fewestPointsAllSeasons = {{ page.fewestPoints }};
</script>

{% for season in page.seasons %}
  {% if season.api != true %}
    <script src="/js/{{ season.season | replace: '/', '-' }}/{{ page.code }}.js"></script>
    <script>
      addSeason({{ page.code }}, "{{ season.season | replace: '/', '-' }}", "{{ season.active }}")
    </script>
  {% else %}
    <script src="https://data.canntables.com/{{ page.code }}.js"></script>
    <script>
      addSeason({{ page.code }}, "2020-21")
    </script>
  {% endif %}

  <!-- show only active seasons -->
  {% if season.active == true %}
    <script>
      $(".column.league[data-season='{{ season.season | replace: '/', '-' }}']").addClass("is-active");
    </script>
  {% endif %}
{% endfor %}

<script>
  // add points on left column for points per game
  $(".per-game.columns .column").first().before("<div class='column points'><table class='is-fullwidth table points'><thead><tr><th class='header-points'><img src='/img/flags/points.svg' alt='empty image'></th></tr></thead><tbody></tbody></table></div>");
  $(normalisedPoints).each(function() {
    $("<tr id='points-" + this + "'><td class='teams'><div class='points-wrap'></div></td></tr>").appendTo(".per-game.columns .points.table tbody");
  });

  $("<span class='listed-points'>3</span>").appendTo(".per-game.columns #points-30 .points-wrap");
  $("<span class='listed-points'>2</span>").appendTo(".per-game.columns #points-20 .points-wrap");
  $("<span class='listed-points'>1</span>").appendTo(".per-game.columns #points-10 .points-wrap");
  $("<span class='listed-points'>0</span>").appendTo(".per-game.columns #points-0 .points-wrap");

  // add most and fewest points for total points
  $(".total.columns .column").first().before("<div class='column points'><table class='is-fullwidth table points'><thead><tr><th class='header-points'><img src='/img/flags/points.svg' alt='empty image'></th></tr></thead><tbody></tbody></table></div>");
  for (var i = mostPointsAllSeasons; i >= fewestPointsAllSeasons; i--) {
    $("<tr id='points-" + i + "'><td class='teams'><div class='points-wrap'></div></td></tr>").appendTo(".total.columns .points.table tbody");
  };
  $("<span class='listed-points'>" + mostPointsAllSeasons + "</span>").appendTo(".total.columns #points-" + mostPointsAllSeasons + " .points-wrap");
  $("<span class='listed-points'>" + fewestPointsAllSeasons + "</span>").appendTo(".total.columns #points-" + fewestPointsAllSeasons + " .points-wrap");

  // tooltip on the right on first column for better visibility
  $(".columns.tables.per-game .column.is-active").first().find(".tooltip").addClass("is-tooltip-right");
  $(".columns.tables .column.is-active").first().find(".tooltip").addClass("is-tooltip-right");

  // tooltip on the left on last column for better visibility
  $(".columns.tables.per-game .column.is-active").last().find(".tooltip").addClass("is-tooltip-left");
  $(".columns.tables .column.is-active").last().find(".tooltip").addClass("is-tooltip-left");
</script>