---
layout: base
---
<section class="section season-table single-season">
  <div class="container">
  	<div class="columns is-gapless is-mobile is-multiline">
  		<div class="column information is-12-mobile is-4-tablet is-3-widescreen">
        <div class="sticky-box">
          <div class="season dropdown is-fullwidth">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="seasons">
                <span><strong>{{ page.season }} season</strong></span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="seasons" role="menu">
              <div class="dropdown-content">
                {% for season in site.seasons %}<a href="{{ season.url }}" class="dropdown-item{% if season.season == page.season %} is-active{% endif %}">{{ season.season }}</a>{% endfor %}
              </div>
            </div>
          </div>
          <div class="legend is-hidden-mobile">
            <div class="cl"><span class="team-circle" style="background-color: #4daf4a"></span>Champions League + qualifiers</div>
            <div class="el hidden"><span class="team-circle" style="background-color: #377eb8"></span>Europa League + qualifiers</div>
            <div class="el-playoffs hidden"><span class="team-circle" style="background-color: #91b8d8"></span>Europa League playoffs (local)</div>
            <div class="ecl hidden"><span class="team-circle" style="background-color: #9d1a8e"></span>Conference League + qualifiers</div>
            <div class="ecl-playoffs hidden"><span class="team-circle" style="background-color: #d178c7"></span>Conference League playoffs (local)</div>
            <div class="relegation-playoffs hidden"><span class="team-circle" style="background-color: #ff7f00"></span>Relegation playoffs</div>
            <div class="relegation"><span class="team-circle" style="background-color: #e41a1c"></span>Relegation</div>
          </div>
          <hr>
          <div class="toggle-grid">
            <input id="toggleGrid" type="checkbox" name="toggleGrid" class="switch is-small is-info is-rounded" onclick="showGrid()">
            <label for="toggleGrid">Toggle grid</label>
          </div>
          {% if page.latest == true %}
            <div>
              Last updated: <span class="last-update"></span>
            </div>
          {% endif %}
        </div>
  		</div>
      <div class="column league-tables">
        <div class="tabs is-centered">
          <ul>
            <li class="is-active"><a data-tab="per-game">Points per game</a></li>
            <li><a data-tab="total">Total points</a></li>
          </ul>
        </div>
        <div class="columns tables is-active is-mobile per-game">

        </div>
        <div class="columns tables is-mobile total">

        </div>
      </div>
  	</div>
  </div>
</section>

<script>
	var leagues = [];
	var season = '{{ page.season | replace: '/', '-' }}';
</script>

{% for league in page.leagues %}
  {% if page.latest and league.api != "false" %}
    <script src="https://data.canntables.com/{{ league.code }}.js"></script>
  {% else %}
    <script src="/js/{{ page.season | replace: '/', '-' }}/{{ league.code }}.js"></script>
  {% endif %}
	<script>leagues.push({{league.code}})</script>
{% endfor %}

{% if page.latest == true %}
<script>
  // last updated global
  var lastUpdated = new Date(2015, 11, 20);
</script>
{% endif %}

<script src="/js/seasonTable.js"></script>